# Dependencies
node_modules/

# Environment variables (secrets)
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage/

# Build output (if you transpile)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
